<h1>
    Thank you for your order
</h1>
<p>We hope this message finds you well and excited about your recent purchase of <a
        href="{{ domain }}{% url 'order_detail' order.slug %}">#{{ order.pk }}</a> from Pet store! We wanted
    to provide you with a quick update on the status of your order.</p>

<p>Your order with number #{{ order.pk }} is currently being processed with great care by our team. We understand the
    anticipation that comes
    with waiting for your new purchase, and we want to assure you that we're working diligently to get your order ready
    for shipment.</p>

<p>Rest assured, we're committed to ensuring that your items meet our high standards of quality before it's sent
    out to you. If you have any questions or concerns about your order while it's being processed, please feel free to
    reach out to our dedicated customer support team. We're here to assist you every step of the way.</p>

<p>We genuinely appreciate your patience and understanding as we prepare your order for delivery. We're confident
    that it'll be worth the wait, and we can't wait for you to experience the exceptional quality of our products
    firsthand.</p>

<p>Thank you once again for choosing Pet Store. We truly value your business and look forward to delivering your
    order to you soon!</p>

<p>Warm regards,</p>

<p>Pet store.</p>