{% extends '__base.html' %}
{% load static %}

{% block title %}New Flavor Item{% endblock title %}

{% block content %}
    <div class="container shadow-lg">
        <h1 class="text-center">Create new product</h1>
        <form method="post" enctype="multipart/form-data" class="form-control p-3">{% csrf_token %}
            {% for error in form.non_field_error %}
                <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
            {% for field in form %}
                <div class="row">
                    {{ field.label }} {{ field }}
                    {% for error in field.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <div id="forms">
                {{ images_form.as_p }}
            </div>
            <button id='add-another' type="button">Add</button>
            <br>
            <button class="btn btn-success" type="submit">Create</button>
        </form>
    </div>

{% endblock content %}
{% block js %}
    <script src="{% static 'js/add_dynamical_fieldset.js' %}"></script>

{% endblock js %}