{% extends '__base.html' %}
{% load static %}


{% block title %}Pet Food{% endblock title %}



{% block content %}
    <div class="container">
        {% include 'store/includes/sort_by_price.html' %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in items %}
                <div class="col mb-5">
                    <div class="card h-100">

                        <img class="card-img-top" src="{{ item.images.first.image_of_item.url }}" height="300px"
                             width="450px" alt="..."/>

                        <div class="card-body p-4">
                            <div class="text-center">

                                <h5 class="fw-bolder">{{ item.name }}</h5>

                                ${{ item.price }}
                            </div>
                        </div>

                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                        href="{{ item.get_absolute_url }}">View options</a>
                            </div>
                        </div>
                        <form class="card-footer p-4 pt-0 border-top-0 bg-transparent" method="post"
                              action="{% url 'add_item_to_cart' item.pk %}">{% csrf_token %}
                            <div class="text-center">
                                <button class="btn btn-outline-primary"
                                >Add to cart
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
            <ul class="pagination align-items-center justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?q={{ search_name }}&page={{ page_obj.previous_page_number }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for page in paginator.page_range %}
                    {% if page != page_obj.number and page >  page_obj.number|add:-3 and page < page_obj.number|add:3 %}
                        <li class="page-item"><a class="page-link"
                                                 href="?q={{ search_name }}&page={{ page }}">{{ page }}</a>
                        </li>
                    {% elif page == page_obj.number %}
                        <li class="page-item active" aria-current="page"><a class="page-link"
                                                                            href="?q={{ search_name }}&page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?q={{ search_name }}&page={{ page_obj.next_page_number }}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

{% endblock content %}