{% extends '__base.html' %}

{% block title %}Update Item{% endblock title %}

{% block content %}
    <div class="container shadow-lg">
        <h1 class="text-center">Update item</h1>
        <form method="post" enctype="multipart/form-data" class="form-control p-3">{% csrf_token %}
            {% for error in form.non_field_error %}
                <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
            {% for field in form %}
                <div class="row">
                    {{ field.label }} {{ field }}
                    {% for error in field.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <button class="btn btn-success mt-3" type="submit">Update</button>
        </form>
    </div>

{% endblock content %}